body {
    margin: 20px;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 1.2em;
    background-color: #d40000;
  }
  
  .anime-demo {
    position: relative;
  }
  
  svg {
     padding: 10px;
  }

  .loop1{
      z-index: 1;
  }
  .loop2{
    z-index: 2;

}

