@font-face {
  font-family: futura;
  src: url(FuturaPTMedium.woff);
  font-display: swap;
}

@font-face {
  font-family: massir;
  src: url(Massir.Ballpoint.ttf);
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  direction: rtl !important;
}

.fa {
  font-family: 'futura', 'massir', sans-serif !important;
  direction: rtl !important;
}

h1,
h2,
h3,
h4 {
  margin: 0px;
}

a {
  margin: 0px;
  text-decoration: none;
  color: #252525;
}

div {
  box-sizing: border-box;
}


body {
  margin-right: 10px;
  margin-left: 10px;
  min-height: 100vh;
}

.slider {
  display: flex;
  overflow-x: auto;
  width: 100%;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

body {
  scrollbar-width: thin;
  scrollbar-color: rgba(20, 20, 20, 0.1) transparent;
}

.slider::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.slider::-webkit-scrollbar-thumb {
  background: rgba(20, 20, 20, 0.1);
}

.slider::-webkit-scrollbar-track {
  background: transparent;
}

.mag-card-container {
  position: relative;
  overflow: hidden;
  margin: 20px 10px 20px 10px;
  border-radius: 20px;
  width: calc((100% - 60px) / 4);
  background: linear-gradient(225deg, #f3f3f3, #ffffff);
  flex-shrink: 0;
  scroll-snap-align: start;
  transform-origin: center center;
  position: relative;
  min-width: 270px;
}

@media (min-width: 1024px) {
  .slider {
    max-width: 1366px !important;
    margin-right: auto !important;
    margin-left: auto !important;
  }

  .mag-card-container {
    min-width: calc(25% - 30px) !important;
    width: calc(25% - 30px) !important;
    margin: 15px !important;
  }

  .mag-excerpt {
    font-size: 14px !important;
  }

  .mag-card-imag img {
    height: 100% !important;
  }
}

.mag-card {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;

}

.mag-info-box {
  position: relative;
  padding: 10px 20px 10px 20px;
  margin-top: 10px;
}

.mag-category {
  position: relative;
  font-size: 10px;
  display: inline-block;
  margin-right: 20px;
}

.mag-category h2 {
  color: #404040;
  font-weight: 400;
}

.mag-category h2:before {
  content: '';
  display: inline-block;
  position: relative;
  width: 6px;
  height: 20px;
  background: rgb(218, 27, 96);
  background: linear-gradient(315deg, rgba(218, 27, 96, 1) 0%, rgba(255, 138, 0, 1) 100%);
  margin-bottom: -8px;
  margin-right: -20px;
  margin-left: 2px;
}

.mag-title {
  font-size: 10px;
  padding: 0.5rem 5px 0.5rem 0.5rem;
  line-height: 1.5;
}

.mag-title h1 {
  font-weight: 700;
  color: #252525;

}

.post-title {
  position: relative;
  display: inline;
  z-index: 1;
  width: calc(100%);
  background-image: linear-gradient(transparent calc(100% - 10px), #60ffea33 10px);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 0;
  padding-right: 3px;
  padding-left: 3px;
  transition: background-size 0.5s;

}

.mag-title :hover .post-title {
  background-size: 100%;
}

.mag-excerpt {
  position: relative;
  font-size: 12px;
  font-weight: 700;
  margin: 0.5rem;
  line-height: 1.5;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.mag-excerpt h3 {
  color: #404040;
  font-weight: 200;
}

.mag-excerpt h3:before {
  content: '';
  display: inline-block;
  position: relative;
  width: 15px;
  height: 4px;
  background: rgb(218, 27, 96);
  background: linear-gradient(315deg, rgba(218, 27, 96, 1) 0%, rgba(255, 138, 0, 1) 100%);
  margin-bottom: 1px;
  margin-left: 2px;
}

.mag-card-container:hover .mag-card-imag img {
  transform: rotateZ(-3deg)scale(1.1);
}

#half-circle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 40px;
  fill: none;
  stroke: url(#orange-to-pink);
  stroke-width: 8px;
  stroke-linecap: round;
  pointer-events: none;
}

.author-name {
  font-size: 14px;
}

.mag-card-imag {
  position: relative;
  margin: 20px 20px 0px 20px;
  overflow: hidden;
  transition: transform 0.5s ease;
  border-radius: 20px;

}

.mag-card-imag img {
  border-radius: 20px;
  display: block;
  width: 100%;
  transition: transform 0.5s ease;
  height: 160px;
  object-fit: cover;
}


.mag-card-imag:after,
.mag-card-imag:before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -21px;
  margin-left: -21px;
  content: '';
  border-radius: 50%;
  z-index: -1;

}

.mag-card-imag:after {

  background-color: #eee;
  background-position: center;
  margin-top: -17px;
  margin-left: -17px;
  width: 34px;
  height: 34px;
  background-position: 50%;
  background-image: url('./js-fill.svg');
  background-repeat: no-repeat;
  background-size: 15px;
}

.mag-card-imag:before {
  animation: rotate 1.1s linear infinite;
  background: linear-gradient(0deg, #eee, #ddd) 0 0%, linear-gradient(90deg, #ddd, #999) 100% 0%, linear-gradient(180deg, #999, #666) 100% 100%, linear-gradient(360deg, #666, #2d2d2d) 0 100%;
  background-repeat: no-repeat;
  background-size: 50% 50%;
  width: 42px;
  height: 42px;
}

svg#play-button {
  position: absolute;
  z-index: 35;
  display: inline;
  top: 10px;
  width: 15%;
  right: 10px;
}

.mag-card-container:hover #ainmated-01,
.mag-card-container:hover #animated-02 {
  animation: ;
}