body {
    margin: 20px;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 1.2em;
    background-color: #d40000;
  }
  
  .anime-demo {
    position: relative;
  }
  
  svg {
     padding: 10px;
  }

  .loop1{
      z-index: 1;
  }
  .loop2{
    z-index: 2;

}
.completed{
    filter: drop-shadow(1px 1px 0.5px black);
    transition: filter 0.5s ease-in;

}

svg {
    position: absolute;
    top: 100px;
    left: 0;
    width: 700px;
    height: auto;
}